.paginationWrapper {
    margin: 2rem .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.results {
    margin: 0 .5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}